*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  }
  .input{
    display: flex;
    justify-content: center;
  }
  .weather-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .loader-outer{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader{
    width: 40px;
    height: 40px;
    border-top: 2px solid rgb(50, 9, 152);
    border-radius: 50%;
    animation: loader 2s linear infinite;
   
  }
  @keyframes loader {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
  }
